.banner {
    height: 80vh; 
    background-image: url("..//images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1, .banner p {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.banner a {
    color: white;
}

